$bgColor: #fff;
$logoColor: #21232F;
$logoFont: 'Hind', sans-serif;
$bgImg: url(../img/m-h-day.jpg);
$btnColor: #699900;
$headingFont: 'Source Sans Pro', sans-serif;
$paragraphFont: 'Fresca', sans-serif;
$footerColor: #21232e;
$ulColor: #14a0c7;
$bannerColor: linear-gradient(to right, #66960c 0%, #538250 25%, #487777 50%, #3866b2 75%, #305ecf 100%);
$sizes:('small':1, 'medium':2, 'big':3);