$bgColor: #21232F;
$logoColor: #fff;
$logoFont: 'Hind', sans-serif;
$bgImg: url(../img/m-h-night.jpg);
$btnColor: #e3ac00;
$headingFont: 'Source Sans Pro', sans-serif;
$paragraphFont: 'Fresca', sans-serif;
$footerColor: #21232e;
$ulColor: #ff4e33;
$bannerColor: linear-gradient(to right, #da9d09 0%, #c07622 25%, #487777 50%, #b9692b 75%, #aa523a 100%);
$sizes: ('small':1, 'medium':2, 'big':3);